@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    background: #FFFFFF;
    color: #000000;
    font-family: 'Myriad Pro', Arial, Helvetica, sans-serif;
}

dialog {
    all: unset;
    display: none;
}

dialog[open] {
    display: flex;
}

@font-face {
    font-family: 'Noteworthy';
    src: url('/fonts/Noteworthy-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Noteworthy';
    src: url('/fonts/Noteworthy.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noteworthy';
    src: url('/fonts/Noteworthy-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MyriadPro-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('/fonts/MyriadPro-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}